<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.order_food">

    <application
        android:name=".views.application.MainAppication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orderfood"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.activities.main.LichSuActivity"></activity>
        <activity android:name=".views.activities.main.GioiThieuActivity" />
        <activity android:name=".views.activities.main.ChangePassActivity" />
        <activity android:name=".views.activities.main.ChangeInfoActivity" />
        <activity android:name=".views.activities.main.ThongTinUserActivity" />

        <activity android:name=".views.activities.main.ResgisterActivity" />
        <activity android:name=".views.activities.main.LoginActivity" />
        <activity
            android:name=".views.activities.splashscreen.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".views.activities.main.MainActivity"/>

        <activity android:name=".views.activities.main.MenuFoodActivity"/>




    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>